@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }
  html img:hover, body img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  html .btn, body .btn {
    background-color: #36393a;
    color: white; }
    html .btn:hover, body .btn:hover {
      background-color: rgba(54, 57, 58, 0.8) !important;
      color: white !important; }
  html #page, body #page {
    min-height: 100%;
    margin-bottom: -178px; }
    html #page:after, body #page:after {
      content: "";
      display: block;
      height: 178px; }
    html #page .top-banner, body #page .top-banner {
      min-height: 100vh; }
      html #page .top-banner .hero, body #page .top-banner .hero {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 30vw;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        color: white; }
        @media (max-width: 582px) {
          html #page .top-banner .hero, body #page .top-banner .hero {
            width: 100vw; } }
        html #page .top-banner .hero h1, body #page .top-banner .hero h1 {
          font-size: 50px;
          display: none; }
        html #page .top-banner .hero p, body #page .top-banner .hero p {
          font-size: 30px;
          display: none; }
        html #page .top-banner .hero img, body #page .top-banner .hero img {
          width: 150px;
          height: 150px; }
      html #page .top-banner div, body #page .top-banner div {
        position: absolute;
        top: 0; }
      html #page .top-banner .first, body #page .top-banner .first {
        width: 50%;
        border-left: 25vw solid rgba(54, 57, 58, 0.5);
        border-top: 100vh solid transparent;
        left: 0; }
      html #page .top-banner .second, body #page .top-banner .second {
        width: 50%;
        border-right: 25vw solid rgba(54, 57, 58, 0.5);
        border-top: 100vh solid transparent;
        right: 0; }
      html #page .top-banner i, body #page .top-banner i {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        -webkit-transition: color 2s ease-out;
        -moz-transition: color 2s ease-out;
        -o-transition: color 2s ease-out;
        transition: color 2s ease-out;
        cursor: pointer;
        -webkit-animation: pulse 1s infinite;
        /* Chrome, Safari, Opera */
        -webkit-animation-timing-function: linear;
        /* Chrome, Safari, Opera */
        animation: pulse 1s infinite;
        animation-timing-function: linear;
        /* Chrome, Safari, Opera */ }
        html #page .top-banner i:hover, body #page .top-banner i:hover {
          color: white; }
@-webkit-keyframes pulse {
  from {
    color: #36393a; }
  to {
    color: rgba(54, 57, 58, 0.9); } }
@keyframes pulse {
  from {
    color: #36393a; }
  to {
    color: rgba(54, 57, 58, 0.9); } }
    html #page .menu, body #page .menu {
      width: 100%;
      z-index: 9999;
      position: relative;
      background-color: white;
      color: #36393a; }
      @media (max-width: 992px) and (min-width: 768px) {
        html #page .menu .container, body #page .menu .container {
          width: 100% !important;
          margin: 0 !important;
          padding: 0 !important; } }
      html #page .menu .container nav, body #page .menu .container nav {
        margin: 0;
        height: 77px;
        background-color: white;
        border-color: white !important;
        box-shadow: none;
        border-radius: 0;
        background-image: none !important; }
        html #page .menu .container nav .navbar-collapse, body #page .menu .container nav .navbar-collapse {
          border-color: transparent; }
        html #page .menu .container nav #menu-onyxia, body #page .menu .container nav #menu-onyxia {
          padding: 6px 0; }
          @media (max-width: 767px) {
            html #page .menu .container nav #menu-onyxia, body #page .menu .container nav #menu-onyxia {
              width: 200px; } }
          html #page .menu .container nav #menu-onyxia li:not(:first-of-type), body #page .menu .container nav #menu-onyxia li:not(:first-of-type) {
            top: 8px; }
          html #page .menu .container nav #menu-onyxia h2, body #page .menu .container nav #menu-onyxia h2 {
            margin: 0; }
          html #page .menu .container nav #menu-onyxia li a, body #page .menu .container nav #menu-onyxia li a {
            color: #36393a;
            font-size: 16px; }
            html #page .menu .container nav #menu-onyxia li a:before, body #page .menu .container nav #menu-onyxia li a:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #36393a;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s; }
            html #page .menu .container nav #menu-onyxia li a:hover:before, body #page .menu .container nav #menu-onyxia li a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1); }
        html #page .menu .container nav button, body #page .menu .container nav button {
          margin-top: 22px; }
    html #page .who-are-we, body #page .who-are-we {
      min-height: 200px;
      background-color: #36393a;
      color: white;
      text-align: center;
      padding: 46px; }
      @media (max-width: 768px) {
        html #page .who-are-we, body #page .who-are-we {
          padding: 12px; } }
      html #page .who-are-we h2, body #page .who-are-we h2 {
        font-size: 40px; }
      html #page .who-are-we p, body #page .who-are-we p {
        font-size: 25px; }
      html #page .who-are-we span, body #page .who-are-we span {
        font-family: 'Lobster', cursive;
        margin: 30px 0 50px 0;
        display: block; }
        html #page .who-are-we span:before, html #page .who-are-we span:after, body #page .who-are-we span:before, body #page .who-are-we span:after {
          border-top-color: #36393a;
          margin-right: 20px;
          content: '';
          width: 60px;
          height: 0;
          display: inline-block;
          border-top: 1px solid #36393a;
          vertical-align: middle; }
        html #page .who-are-we span:after, body #page .who-are-we span:after {
          margin-left: 20px;
          margin-right: 0; }
        @media (max-width: 768px) {
          html #page .who-are-we span, body #page .who-are-we span {
            margin: 20px 0 30px 0; } }
        html #page .who-are-we span:before, html #page .who-are-we span:after, body #page .who-are-we span:before, body #page .who-are-we span:after {
          border-top-color: white;
          border-top: 1px solid white; }
    html #page .top-posts, body #page .top-posts {
      text-align: center;
      position: relative;
      color: white;
      overflow: hidden; }
      html #page .top-posts .container, body #page .top-posts .container {
        background-color: white; }
        html #page .top-posts .container div.col-lg-4:nth-child(2), body #page .top-posts .container div.col-lg-4:nth-child(2) {
          color: #36393a; }
        @media (max-width: 768px) {
          html #page .top-posts .container .hidden-sm, body #page .top-posts .container .hidden-sm {
            min-height: 0;
            max-height: 0; } }
      html #page .top-posts .container > div, body #page .top-posts .container > div {
        min-height: 555px;
        max-height: 555px; }
        @media (max-width: 768px) {
          html #page .top-posts .container > div, body #page .top-posts .container > div {
            min-height: none !important;
            max-height: none !important; } }
      html #page .top-posts .wraper, body #page .top-posts .wraper {
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 30px 0;
        position: relative;
        z-index: 1; }
        @media (max-width: 768px) {
          html #page .top-posts .wraper, body #page .top-posts .wraper {
            margin-top: 30px;
            margin-bottom: 0; } }
        html #page .top-posts .wraper img, body #page .top-posts .wraper img {
          margin: 0 auto;
          -webkit-transition: -webkit-transform 0.4s ease;
          -moz-transition: -moz-transform 0.4s ease;
          -o-transition: -o-transform 0.4s ease;
          transition: transform 0.4s ease; }
        html #page .top-posts .wraper img:hover, body #page .top-posts .wraper img:hover {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05); }
        html #page .top-posts .wraper h2, body #page .top-posts .wraper h2 {
          position: absolute;
          z-index: 99999;
          bottom: 35px;
          left: 30px;
          width: 100%;
          word-wrap: break-word;
          text-align: left;
          padding-right: 60px;
          color: white; }
        html #page .top-posts .wraper span, body #page .top-posts .wraper span {
          position: absolute;
          z-index: 99999;
          bottom: 10px;
          left: 30px;
          width: 100%;
          word-wrap: break-word;
          text-align: left;
          padding-right: 60px;
          color: white; }
      html #page .top-posts .second h2, html #page .top-posts .second span, body #page .top-posts .second h2, body #page .top-posts .second span {
        text-align: right; }
      @media (max-width: 768px) {
        html #page .top-posts .second:last-of-type, body #page .top-posts .second:last-of-type {
          margin-bottom: 30px; } }
      html #page .top-posts .mid-txt, body #page .top-posts .mid-txt {
        display: block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        html #page .top-posts .mid-txt p, body #page .top-posts .mid-txt p {
          font-size: 18px;
          min-height: 1px;
          padding-right: 15px; }
    html #page .what-we-do, body #page .what-we-do {
      text-align: center;
      padding: 46px 0;
      background-color: rgba(54, 57, 58, 0.2); }
      html #page .what-we-do span, body #page .what-we-do span {
        font-family: 'Lobster', cursive;
        margin: 30px 0 50px 0;
        display: block; }
        html #page .what-we-do span:before, html #page .what-we-do span:after, body #page .what-we-do span:before, body #page .what-we-do span:after {
          border-top-color: #36393a;
          margin-right: 20px;
          content: '';
          width: 60px;
          height: 0;
          display: inline-block;
          border-top: 1px solid #36393a;
          vertical-align: middle; }
        html #page .what-we-do span:after, body #page .what-we-do span:after {
          margin-left: 20px;
          margin-right: 0; }
        @media (max-width: 768px) {
          html #page .what-we-do span, body #page .what-we-do span {
            margin: 20px 0 30px 0; } }
      html #page .what-we-do i, body #page .what-we-do i {
        font-size: 6em; }
      html #page .what-we-do p, body #page .what-we-do p {
        font-size: 16px; }
      html #page .what-we-do a, body #page .what-we-do a {
        background-color: #36393a;
        color: white; }
        @media (max-width: 768px) {
          html #page .what-we-do a, body #page .what-we-do a {
            margin-bottom: 22px; } }
        html #page .what-we-do a i, body #page .what-we-do a i {
          font-size: 1em;
          position: relative;
          top: 1.5px;
          left: 3px; }
      html #page .what-we-do hr, body #page .what-we-do hr {
        border-top: 1px solid #36393a; }
    html #page .out-team, body #page .out-team {
      padding: 42px 0;
      text-align: center;
      background-color: rgba(54, 57, 58, 0.1); }
      html #page .out-team span, body #page .out-team span {
        font-family: 'Lobster', cursive;
        margin: 30px 0 50px 0;
        display: block; }
        html #page .out-team span:before, html #page .out-team span:after, body #page .out-team span:before, body #page .out-team span:after {
          border-top-color: #36393a;
          margin-right: 20px;
          content: '';
          width: 60px;
          height: 0;
          display: inline-block;
          border-top: 1px solid #36393a;
          vertical-align: middle; }
        html #page .out-team span:after, body #page .out-team span:after {
          margin-left: 20px;
          margin-right: 0; }
        @media (max-width: 768px) {
          html #page .out-team span, body #page .out-team span {
            margin: 20px 0 30px 0; } }
      html #page .out-team h2, body #page .out-team h2 {
        font-size: 40px; }
      html #page .out-team p, body #page .out-team p {
        max-width: 30vw;
        font-size: 18px;
        margin: 0 auto; }
        @media (max-width: 768px) {
          html #page .out-team p, body #page .out-team p {
            max-width: 100vw; } }
      html #page .out-team .row, body #page .out-team .row {
        margin-top: 84px; }
        @media (max-width: 768px) {
          html #page .out-team .row, body #page .out-team .row {
            margin-top: 50px; } }
        html #page .out-team .row img, body #page .out-team .row img {
          max-width: 300px;
          max-height: 200px; }
        html #page .out-team .row strong, body #page .out-team .row strong {
          display: block;
          font-size: 18px;
          margin: 8px 0; }
        html #page .out-team .row p, body #page .out-team .row p {
          font-size: 14px;
          margin: 8px 0; }
        html #page .out-team .row ul, body #page .out-team .row ul {
          padding: 0; }
          html #page .out-team .row ul li, body #page .out-team .row ul li {
            list-style-type: none;
            display: inline-block;
            margin: 4px 6px; }
            html #page .out-team .row ul li a, body #page .out-team .row ul li a {
              color: #36393a; }
    html #page .experience, body #page .experience {
      background-color: rgba(54, 57, 58, 0.1);
      padding: 46px 0; }
      html #page .experience h4, body #page .experience h4 {
        font-size: 40px;
        text-align: center; }
      html #page .experience .container, body #page .experience .container {
        padding: 46px 0;
        text-align: center; }
        html #page .experience .container img, body #page .experience .container img {
          max-width: 100px;
          max-height: 100px; }
    html #page .map_section, body #page .map_section {
      background-color: rgba(54, 57, 58, 0.3); }
      html #page .map_section .row, body #page .map_section .row {
        margin: 0;
        padding: 0; }
        html #page .map_section .row .map_headline, body #page .map_section .row .map_headline {
          text-align: center;
          padding: 15px 0; }
          @media (max-width: 768px) {
            html #page .map_section .row .map_headline, body #page .map_section .row .map_headline {
              padding: 21px 12px; } }
          html #page .map_section .row .map_headline h5, body #page .map_section .row .map_headline h5 {
            font-size: 40px; }
          html #page .map_section .row .map_headline p, body #page .map_section .row .map_headline p {
            font-size: 20px; }
        html #page .map_section .row .container, body #page .map_section .row .container {
          padding: 42px 0; }
          html #page .map_section .row .container span, html #page .map_section .row .container i, body #page .map_section .row .container span, body #page .map_section .row .container i {
            display: block;
            text-align: center;
            padding: 8px 0; }
        html #page .map_section .row div, body #page .map_section .row div {
          padding: 0; }
          html #page .map_section .row div #map, body #page .map_section .row div #map {
            min-height: 250px;
            width: 100%; }
        html #page .map_section .row .contat_form form, body #page .map_section .row .contat_form form {
          padding-right: 42px; }
          @media (max-width: 768px) {
            html #page .map_section .row .contat_form form, body #page .map_section .row .contat_form form {
              padding: 21px 12px; } }
        html #page .map_section .row .contat_form input:not([type="submit"]), html #page .map_section .row .contat_form textarea, body #page .map_section .row .contat_form input:not([type="submit"]), body #page .map_section .row .contat_form textarea {
          display: block;
          margin: 12px 0;
          width: 100%;
          height: 42px;
          padding: 0 5px; }
          html #page .map_section .row .contat_form input:not([type="submit"]):focus, html #page .map_section .row .contat_form textarea:focus, body #page .map_section .row .contat_form input:not([type="submit"]):focus, body #page .map_section .row .contat_form textarea:focus {
            border: 1px solid #36393a;
            outline: none; }
        html #page .map_section .row .contat_form textarea, body #page .map_section .row .contat_form textarea {
          height: 126px; }
        html #page .map_section .row .contat_text, body #page .map_section .row .contat_text {
          padding-left: 42px; }
          @media (max-width: 768px) {
            html #page .map_section .row .contat_text, body #page .map_section .row .contat_text {
              padding: 21px 12px; } }
          html #page .map_section .row .contat_text h5, body #page .map_section .row .contat_text h5 {
            font-size: 20px; }
    html #page #posts h1, body #page #posts h1 {
      margin: 42px 0;
      text-align: center;
      text-transform: capitalize; }
    html #page #posts .row, body #page #posts .row {
      padding: 0;
      margin: 0; }
      html #page #posts .row .col-lg-6, body #page #posts .row .col-lg-6 {
        padding: 0;
        margin: 0;
        height: 400px; }
      html #page #posts .row .img, body #page #posts .row .img {
        background-size: cover !important;
        max-height: 400px;
        width: 100%;
        height: 400px;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important; }
      html #page #posts .row div.img:hover, body #page #posts .row div.img:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
      html #page #posts .row .grey, body #page #posts .row .grey {
        background-color: rgba(54, 57, 58, 0.1);
        text-align: center;
        padding: 42px; }
        @media (max-width: 768px) {
          html #page #posts .row .grey, body #page #posts .row .grey {
            padding: 12px; } }
        html #page #posts .row .grey i, body #page #posts .row .grey i {
          display: block;
          margin-top: 24px; }
        html #page #posts .row .grey p, body #page #posts .row .grey p {
          margin: 24px 0; }
        html #page #posts .row .grey a, body #page #posts .row .grey a {
          color: #0f5a73;
          font-weight: 500; }
    html #page #single .banner, body #page #single .banner {
      background-size: cover !important;
      min-height: 300px;
      margin-top: 12px; }
  html footer, body footer {
    text-align: center;
    padding: 46px 0;
    background-color: #36393a;
    color: white;
    height: 178px; }
    html footer a, body footer a {
      color: white; }
    html footer i, body footer i {
      margin: 0 8px; }

/*# sourceMappingURL=main.css.map */
